body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  height: 50px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  margin-top: 18px;
  margin-bottom: 25px;
}

.row {
  margin-bottom: 10px;
}

.recordFooter {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #e5f5a3;
  color: white;
  text-align: center;
}

.sound-wave {
  margin-top: 5px;
  width: 500px;
  height: 40px;
}

.bg-info {
  background-color: #e5f5a3 !important;
}

.navbar {
  background-color: #e5f5a3 !important;
}

.button {
  margin: auto;
  width: 35px;
  height: 35px;
  border: 4px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
}

.inner {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.button.active .inner {
  transform: scale(0.5);
  border-radius: 12%;
}
.button:hover,
.button:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}

.editor-console-flex {
  display: flex;
}

.editor {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}

.footer-button:hover,
.footer-button:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}

.footer-button {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
