body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  /* font-family: 'Raleway:medium'; */
}

h1,
h2,
h3 {
  font-family: 'Amaranth', sans-serif;
}
a:hover {
  cursor: pointer;
}

nav {
  height: 5rem;
  font-size: 1.25rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  margin-top: 2.25rem;
  /* margin-bottom: 25px; */
  transition: 0.5s;
}

.row {
  margin-bottom: 10px;
}

.recordFooter {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #e5f5a3;
  color: white;
  text-align: center;
}

.sound-wave {
  margin: auto;
  width: 40rem;
  height: 4rem;
}

.bg-info {
  background-color: #e5f5a3;
}

.navbar {
  background-color: #e5f5a3;
}

/* styling for the record button */
.button {
  margin: auto;
  width: 3rem;
  height: 3rem;
  border: 4px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
}

.inner {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.button.active .inner {
  transform: scale(0.5);
  border-radius: 12%;
}
.button:hover,
.button:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}

.editor-console-flex {
  display: flex;
}

.editor {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}

.footer-button:hover,
.footer-button:focus {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  transform: scale(1.025);
}

.footer-button {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

/* The side navigation menu */
.sidenav {
  height: calc(100vh - 10rem);
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 5rem; /* Stay at the top */
  left: 0;
  background-color: rgba(237, 237, 237, 0.3);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a,
.sidenav p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.editors-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

audio {
  width: 50vw;
}

#user-image-frame {
  border-radius: 50%;
  border: 1px solid black;
  height: 10em;
  width: 10em;
}

#user-sidenav-info {
  text-align: center;
  margin-right: 25px;
  margin-top: 5vh;
}

.not-centered {
  text-align: start;
}
